<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rectangle Checker</title>
  </head>
  <body>
    <h1>Rectangle Checker</h1>
    <form action="rectangle/result">
      <label for="side-length">Length of one side:</label>
      <input type="number" name="side-length" id="side-length">
      <label for="side-width">Width of one side:</label>
      <input type="number" name="width-length" id="side-width">
      <button type="submit">Is it a rectangle?</button>
    </form>
  </body>
</html>
